aside.box.box-lg-4.br.my-2.my-lg-0.px-2.px-sm-4.pt-4.pb-5.background-color-white
            h2.mb-2 Lista de pasos a seguir
            div.container-aco
                    button(type="button").accordion
                        h2 Paso 1: Información publicitaria
                    .panel
                        p.font-size-xs Esta información es la encargada de llamar la atención al cliente final. Intenta utilizar palabras claves por un mejor SEO. 
                    
            div.container-aco
                    button(type="button").accordion
                        h2 Paso 2: Detalles
                    .panel
                        p.font-size-xs Esta información es la encargada de llamar la atención al cliente final. Intenta utilizar palabras claves por un mejor SEO.
            div.container-aco
                    button(type="button").accordion
                        h2 Paso 3: Lugar y ubicación
                    .panel
                        p.font-size-xs Esta información es la encargada de llamar la atención al cliente final. Intenta utilizar palabras claves por un mejor SEO.
            article.area.j-sb.mt-4
                    butoon.btn.c-dark.font-size-s.background-color-grey.px-3.mb-2.mb-sm-0 Anterior
                    butoon.btn.font-size-s.background-color-godark.px-3 Siguiente
                    