asidecontainlist.box-4.br.px-4.pt-4.pb-5.background-color-white
            h2.mb-2 Lista de pasos a seguir
            div.container-aco
                    button(type="button").accordion
                        h2 Paso 1: Información publicitaria
                    .panel
                        p.font-size-xs Las fotografías atraen a tu cliente, intenta que todos tus panoramas tengas imagenes llamativas y bien descriptivas. 
                    
            div.container-aco
                    button(type="button").accordion
                        h2 Paso 2: Detalles
                    .panel
                        p.font-size-xs Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            div.container-aco
                    button(type="button").accordion
                        h2 Paso 3: Lugar y ubicación
                    .panel
                        p.font-size-xs Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            article.area.j-sb.mt-4
                    butoon.btn.c-dark.font-size-s.background-color-grey.px-3 Anterior
                    butoon.btn.font-size-s.background-color-godark.px-3 Siguiente
                    