aside.box.box-lg-4.br.my-2.my-lg-0.px-2.px-sm-4.pt-4.pb-5.background-color-white
            h2.mb-2 Opciones editables
            div.container-aco
                    button(type="button").accordion
                        h2 Fotografías
                    .panel
                        p.font-size-xs Las fotografías atraen a tu cliente, intenta que todos tus panoramas tengas imagenes llamativas y bien descriptivas. 
                    
            div.container-aco
                    button(type="button").accordion
                        h2 Habitaciones
                    .panel
                        p.font-size-xs Las fotografías atraen a tu cliente, intenta que todos tus panoramas tengas imagenes llamativas y bien descriptivas.
            div.container-aco
                    button(type="button").accordion
                        h2 Detalle panorama
                    .panel
                        p.font-size-xs Las fotografías atraen a tu cliente, intenta que todos tus panoramas tengas imagenes llamativas y bien descriptivas.
            article.area.j-sb.mt-4
                    butoon.btn.c-red.font-size-s.background-color-light.px-3.mb-2.mb-sm-0 Anterior
                    butoon.btn.font-size-s.background-color-godark.px-3 Siguiente
                    