article.cardroms.area.mb-1
    .cardroms__data.box-12.box-md-9.area
        h2.display-block Habitación 505
        .box-12.box-md-3.box-lg-4
            i.mr-1
                img(src="images/people.svg")
            span 4 personas
        .box-12.box-md-9.box-lg-8.mt-2.mt-md-0
            i.mr-1
                img(src="images/bed.svg")
            span.mr-1 2 camas
            i.mr-1
                img(src="images/mts.svg")
            span 50 mt2

    .cardroms__edit.box-12.box-md-3.mt-3.mt-md-0
        i.mr-2
            img(src="images/edit.svg")
        i.mr-2
            img(src="images/dusplicar.svg")
        i
            img(src="images/trash.svg")
