article.cardroms.area.mb-1
    .cardroms__data.box-9
        h2.display-block Habitación 505
        i.mr-1
            img(src="images/people.svg")
        span.mr-2 4 personas
        i.mr-1
            img(src="images/bed.svg")
        span.mr-2 2 camas
        i.mr-1
            img(src="images/mts.svg")
        span 50 mt2

    .cardroms__edit.box-3
        i.mr-2
            img(src="images/edit.svg")
        i.mr-2
            img(src="images/dusplicar.svg")
        i
            img(src="images/trash.svg")
