article.box-12.box-lg-6.br.background-color-white.px-2.px-sm-4.py-4
            h2.mb-2 Subir fotografías
            .up-img.mb-4 
                img(src="images/upload-images.svg")
            h2 Descripción de la experiencia
            p.font-size-xs La imagen seleccionada es la portada
            section.contcoverpage.area.j-sb
                article.contcoverpage__switch.mb-2
                    div(onclick="changeIcon('visible')").switch__content
                        i#cambio 
                            img(src="images/eliminar.svg")
                        img( src="images/foto-1.png")
                article.contcoverpage__switch.mb-2
                    div(onclick="changeIcon2('visible')").switch__content
                        i#cambio2 
                            img(src="images/eliminar.svg")
                        img(src="images/foto-2.png")
                article.contcoverpage__switch
                    div(onclick="changeIcon3('visible')").switch__content
                        i#cambio3  
                            img(src="images/eliminar.svg")
                        img(src="images/foto-1.png")
                article.contcoverpage__switch.mb-2
                    div(onclick="changeIcon4('visible')").switch__content
                        i#cambio4  
                            img(src="images/eliminar.svg")
                        img(src="images/foto-2.png")
                article.contcoverpage__switch.mb-2
                    div(onclick="changeIcon5('visible')").switch__content
                        i#cambio5  
                            img(src="images/eliminar.svg")
                        img(src="images/foto-1.png")
                article.contcoverpage__switch.mb-2
                    div.switch__content
                        i#cambio  
                            img(src="images/eliminar.svg")
                        img(src="images/error-formato.png")