.header-title.wrapper.area.j-sb.py-3
    div
        h1 Panoramas
        p Crea, elimina y edita panoramas
    div
        button(type='button').btn.font-size-s.background-color-gored.py-1.px-5 Crear panorama