nav.nav
    div.menubuguer.background-color-gored
        img(src="images/menu-admin.svg") 
    ul.flex-col
        li.flex-col__icon
            img(src="images/panoramas-admin.svg") 
        li.flex-col__icon
            img(src="images/burguer2.svg") 
        li.flex-col__icon
            img(src="images/reservas-admin.svg") 
        li.flex-col__icon
            img(src="images/pages-admin.svg") 
        li.flex-col__icon
            img(src="images/blog-admin.svg") 


//- 60px
    