article.panorama.box-12.box-lg-6.br.background-color-white.px-2.px-sm-4.py-4
    h2 Título de la experiencia
    input.panorama__element--input.pl-2.mb-3(type="search" name="busquedad" placeholder="Disfruta de una experiencia única")
    h2 Descripción de la experiencia
    textarea.panorama__element--input2.px-2.py-2.mb-3(id="reseña panoramas" placeholder="Siente la brisa de la cordillera cuando despierte en tu desayuno, estando al lado de la naturaleza")
    h2 Servicios incluídos
    include service-button.pug
    
    h2 URL Amigable
    article.url.area.mb-5
        section.box-12.box-sm-6
            div.url__primary.background-color-light.p-1.pl-2 https://gowikend.cl/panorama/
        section.box-12.box-sm-6
            input.url__secudary--input3.pl-2
    articcle.next.area.j-sb
        div
            h2.font-size-m Paso 1 de 3
        div
            butoon.btn.font-size-s.background-color-gored.px-2 Siguiente paso