.container-service.area.j-sb.wrapper.mb-3
    button.container-service__btnservice.mb-1
        img(src="images/cafe1.svg") 
        |  Servicio 1
    button.container-service__btnservice.mb-1
        img(src="images/cafe1.svg") 
        |  Servicio 2
    button.container-service__btnservice.mb-1
        img(src="images/cafe1.svg") 
        |  Servicio 3
    button.container-service__btnservice.mb-1
        img(src="images/cafe1.svg") 
        |  Servicio 4
    button.container-service__btnservice.mb-1
        img(src="images/cafe1.svg") 
        |  Servicio 5
    button.container-service__btnservice.mb-1
        img(src="images/cafe1.svg") 
        |  Servicio 6
    button.container-service__btnservice.mb-1
        img(src="images/cafe1.svg") 
        |  Servicio 7
    button.container-service__btnservice.mb-1
        img(src="images/cafe1.svg") 
        |  Servicio 8
    button.container-service__btnservice.mb-1
        img(src="images/cafe1.svg") 
        |  Servicio 9