article.table.wrapper
    header.table__head.area.j-sb.ai-c.py-3.px-3.mt-2
        select.table__head--selectbtn
            option(value="value1") Ordernar por
            option(value="value2") Value 2
            option(value="value3") Value 
        select.table__head--selectbtn
            option(value="value1") Ordernar por
            option(value="value2") Value 2
            option(value="value3") Value 3
        b(style="color: #00AD9E").font-size-s 24 resultados de 2012 en 20 páginas
        div.table__head
            i.arrow
                img(src="images/previous-arrow.svg")
            i.arrow
                img(src="images/next-arrow.svg")   
        div.table__head.flex 
            input(type="number" value="" placeholder="").table__head--numberbox
            button.table__head--buttonnumber 
                img(src="images/next-number.svg")

    table(align="center" border="0" cellpadding="0" cellspacing="0").contain-tabledata
        thead
            tr(style="background-color:#F4FAF9;height: 60px")
                td(style="width: 10%").contain-tabledata__title
                    label.content-inputradio
                        input(type="radio" name="chekpage" id="checkpage" value="pageok")
                        i   
                td(style="width: 50%").contain-tabledata__title Nombre de la actividad
                td(style="width: 20%").contain-tabledata__title Categoría
                td(style="width: 20%;text-align:center").contain-tabledata__title Acciones
        tbody    
            tr(style="border-bottom: 1px solid #999999;height: 60px")
                td(style="width: 10%").contain-tabledata__titledata
                    label.content-inputradio
                        input(type="radio" name="chekpage" id="checkpage" value="pageok")
                        i
                td(style="width: 50%").contain-tabledata__titledata  Vive una experiencia única con tu familia en plena cordillera de los Andres
                td(style="width: 20%").contain-tabledata__titledata Especial cordillera
                td(style="width: 20%").contain-tabledata__titledata
                    div.flex-c
                        i(style="cursor: pointer").mx-1
                            img(src="images/edit.svg")
                        i(style="cursor: pointer").mx-1
                            img(src="images/trash.svg")
            
    header.table__head.area.j-sb.ai-c.py-3.px-3
        select.table__head--selectbtn
            option(value="value1") Ordernar por
            option(value="value2") Value 2
            option(value="value3") Value 
        select.table__head--selectbtn
            option(value="value1") Ordernar por
            option(value="value2") Value 2
            option(value="value3") Value 3
        b(style="color: #00AD9E").font-size-s 24 resultados de 2012 en 20 páginas
        div.table__head
            i.arrow
                img(src="images/previous-arrow.svg")
            i.arrow
                img(src="images/next-arrow.svg")   
        div.table__head.flex 
            input(type="number" value="" placeholder="").table__head--numberbox
            button.table__head--buttonnumber 
                img(src="images/next-number.svg")    