doctype hmtl
html
	include mixins.pug
	include head.pug
	body
		div.container-grid
			include header.pug 
			include nav.pug
			section.background-color-light.content
				block contenido
		script(src="js/function.js")