doctype html
html
	include head.pug
	body
		
		header.header
		.header__logo.p-2.background-color-gored
				img(src="images/logo-gowikend.svg")
		section.background-color-light.content
			block contenido
		script(src="js/function.js")