extend componentes/template-3.pug
block contenido
    section.background-color-light
        div.container-nuevop.wrapper.wrapper.area.j-sb
            .container-nuevop__crearexp.px-3.pt-4.pb-5.background-color-white
                h2.mb-3 Habitaciones disponibles
                .crear-habitacion.area.mb-2
                    i.mr-1
                        img(src="images/crear-habitacion.svg")
                    h2 Crear habitación
                article.card-habitacion.area.mb-1
                    .card-habitacion__data
                        h2.display-block Habitación 505
                        i.mr-1
                            img(src="images/people.svg")
                        span.mr-2 4 personas
                        i.mr-1
                            img(src="images/bed.svg")
                        span.mr-2 2 camas
                        i.mr-1
                            img(src="images/mts.svg")
                        span 50 mt2

                    .card-habitacion__edit
                        i.mr-2
                            img(src="images/edit.svg")
                        i.mr-2
                            img(src="images/dusplicar.svg")
                        i
                            img(src="images/trash.svg")
                article.card-habitacion.area.mb-1
                    .card-habitacion__data
                        h2.display-block Habitación 505
                        i.mr-1
                            img(src="images/people.svg")
                        span.mr-2 4 personas
                        i.mr-1
                            img(src="images/bed.svg")
                        span.mr-2 2 camas
                        i.mr-1
                            img(src="images/mts.svg")
                        span 50 mt2

                    .card-habitacion__edit
                        i.mr-2
                            img(src="images/edit.svg")
                        i.mr-2
                            img(src="images/dusplicar.svg")
                        i
                            img(src="images/trash.svg")
                article.card-habitacion.area.mb-1
                    .card-habitacion__data
                        h2.display-block Habitación 505
                        i.mr-1
                            img(src="images/people.svg")
                        span.mr-2 4 personas
                        i.mr-1
                            img(src="images/bed.svg")
                        span.mr-2 2 camas
                        i.mr-1
                            img(src="images/mts.svg")
                        span 50 mt2

                    .card-habitacion__edit
                        i.mr-2
                            img(src="images/edit.svg")
                        i.mr-2
                            img(src="images/dusplicar.svg")
                        i
                            img(src="images/trash.svg")
                article.card-habitacion.area.mb-1
                    .card-habitacion__data
                        h2.display-block Habitación 505
                        i.mr-1
                            img(src="images/people.svg")
                        span.mr-2 4 personas
                        i.mr-1
                            img(src="images/bed.svg")
                        span.mr-2 2 camas
                        i.mr-1
                            img(src="images/mts.svg")
                        span 50 mt2

                    .card-habitacion__edit
                        i.mr-2
                            img(src="images/edit.svg")
                        i.mr-2
                            img(src="images/dusplicar.svg")
                        i
                            img(src="images/trash.svg")
                article.card-habitacion.area.mb-1
                    .card-habitacion__data
                        h2.display-block Habitación 505
                        i.mr-1
                            img(src="images/people.svg")
                        span.mr-2 4 personas
                        i.mr-1
                            img(src="images/bed.svg")
                        span.mr-2 2 camas
                        i.mr-1
                            img(src="images/mts.svg")
                        span 50 mt2

                    .card-habitacion__edit
                        i.mr-2
                            img(src="images/edit.svg")
                        i.mr-2
                            img(src="images/dusplicar.svg")
                        i
                            img(src="images/trash.svg")

                    
                
                        
                        

            aside.container-nuevop__listexp.px-3.pt-4.pb-5.background-color-white
                h2.mb-2 Lista de pasos a seguir
                div.container-aco
                    button(type="button").acordion
                        h2 Paso 1: Información publicitaria
                    .panel
                        p.font-size-xs Las fotografías atraen a tu cliente, intenta que todos tus panoramas tengas imagenes llamativas y bien descriptivas.
                div.container-aco
                    button(type="button").acordion
                        h2 Paso 2: Detalles
                    .panel
                        p.font-size-xs Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                div.container-aco
                    button(type="button").acordion
                        h2 Paso 3: Lugar y ubicación
                    .panel
                        p.font-size-xs Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                
                article.area.j-sb.mt-4
                    butoon.btn-new-e.font-size-s.background-color-light Eliminar
                    butoon.btn-new-p.font-size-s.background-color-godark Siguiente