extend componentes/template.pug
block contenido
    include ./componentes/header-title.pug
    .area.wrapper.j-sb
        article.box-12.box-lg-6.br.background-color-white.px-2.px-sm-4.py-4
            h2.mb-3 Habitaciones disponibles
            .create-roms.area.mb-2
                i.mr-1
                    img(src="images/crear-habitacion.svg")
                h2 Crear habitación
            include ./componentes/card-roms.pug
        
        include ./componentes/card-list-optionedit.pug
            
