extend componentes/template.pug
block contenido
    include ./componentes/header-title.pug
    .area.wrapper.j-sb
        include ./componentes/form-panorama-place-component.pug
        include ./componentes/card-list.pug