extend componentes/template.pug
block contenido
    include ./componentes/header-title.pug
    .area.wrapper.j-sb
        include ./componentes/edit-panorama-component.pug
        include ./componentes/card-list-optionedit.pug