extend componentes/template.pug
block contenido
    include ./componentes/header-title.pug
    .area.wrapper.j-sb
        article.panorama.box-6.br.background-color-white.px-4.py-4
            h2 Actividades del panorama
            .activity.mb-1
                .activity__text.p-1
                    p.font-size-xs Escalar una montaña
                .activity__icon.background-color-gogreen
                    i
                        img(src="images/arrow-activity.svg")
            .activity.mb-1
                .activity__text.p-1
                    p.font-size-xs Nadar con tiburones
                .activity__icon
                    i
                        img(src="images/close-activity.svg")
            .activity.mb-1
                .activity__text.p-1
                    p.font-size-xs Descubrir América
                .activity__icon
                    i
                        img(src="images/close-activity.svg")
            .activity.mb-1
                .activity__text.p-1
                    p.font-size-xs Construir mi propia tumba
                .activity__icon
                    i
                        img(src="images/close-activity.svg")
            h2.mt-3 Selecciona las categorías
            article.selectcategory
                .selectcategory__categorybox.p-1 
                    p.font-size-xs Vacaciones de verano
                .selectcategory__categorybox.p-1 
                    p.font-size-xs Al lado de la cordillera
                .selectcategory__categorybox.p-1 
                    p.font-size-xs Fiestas patrias 2020
                .selectcategory__categorybox.p-1 
                    p.font-size-xs Promoción invierno
                .selectcategory__categorybox.p-1 
                    p.font-size-xs Primavera 2020
                .selectcategory__categorybox.p-1 
                    p.font-size-xs Vacaciones de inviero
                .selectcategory__categorybox.p-1 
                    p.font-size-xs Aventura 2020
                .selectcategory__categorybox.p-1 
                    p.font-size-xs Trekking 2020
                
            articcle.next.area.j-sb
                div
                    h2.font-size-m Paso 2 de 3
                div
                    butoon.btn.font-size-s.background-color-gored.px-2 Siguiente paso

        include ./componentes/card-lista.pug
        
            
        