extend componentes/template-2.pug
block contenido
    section.background-color-light
        div.container-nuevop.wrapper.wrapper.area.j-sb
            .container-nuevop__crearexp.px-3.pt-4.pb-5.background-color-white
                h2 Actividades del panorama
                article.actividades.mb-1
                 .actividades__element-a.p-1 
                    p.font-size-xs Escalar una montaña
                 .actividades__element-b.background-color-gogreen
                    i
                        img(src="images/arrow-activity.svg")
                article.actividades.mb-1
                 .actividades__element-a.p-1 
                    p.font-size-xs Nadar con tiburones
                 .actividades__element-b
                    i
                        img(src="images/close-activity.svg")
                article.actividades.mb-1
                 .actividades__element-a.p-1 
                    p.font-size-xs Descubrir América
                 .actividades__element-b
                    i
                        img(src="images/close-activity.svg")
                article.actividades.mb-1
                 .actividades__element-a.p-1 
                    p.font-size-xs Construir mi propia tumba
                 .actividades__element-b
                    i
                        img(src="images/close-activity.svg")
                h2.mt-3 Selecciona las categorías
                article.seleccategory
                    div.seleccategory__elementbox.p-1 
                        p.font-size-xs Vacaciones de verano
                    div.seleccategory__elementbox.p-1 
                        p.font-size-xs Al lado de la cordillera
                    div.seleccategory__elementbox.p-1 
                        p.font-size-xs Fiestas patrias 2020
                    div.seleccategory__elementbox.p-1 
                        p.font-size-xs Promoción invierno
                    div.seleccategory__elementbox.p-1 
                        p.font-size-xs Primavera 2020
                    div.seleccategory__elementbox.p-1 
                        p.font-size-xs Vacaciones de inviero
                    div.seleccategory__elementbox.p-1 
                        p.font-size-xs Aventura 2020
                    div.seleccategory__elementbox.p-1 
                        p.font-size-xs Trekking 2020
    
                
                article.next.area.j-sb
                    div
                        h2.font-size-m Paso 1 de 3
                    div
                        butoon.btn-new-p.font-size-s.background-color-gored Siguiente paso
                        
                        

            aside.container-nuevop__listexp.px-3.pt-4.pb-5.background-color-white
                h2.mb-2 Lista de pasos a seguir
                div.container-aco
                    button(type="button").acordion
                        h2 Paso 1: Información publicitaria
                    .panel
                        p.font-size-xs Las fotografías atraen a tu cliente, intenta que todos tus panoramas tengas imagenes llamativas y bien descriptivas.
                div.container-aco
                    button(type="button").acordion
                        h2 Paso 2: Detalles
                    .panel
                        p.font-size-xs Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                div.container-aco
                    button(type="button").acordion
                        h2 Paso 3: Lugar y ubicación
                    .panel
                        p.font-size-xs Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                
                article.area.j-sb.mt-4
                    butoon.btn-new-p.font-size-s.background-color-grey Anterior
                    butoon.btn-new-p.font-size-s.background-color-godark Siguiente