extend componentes/theme-home.pug
block contenido
    .area.wrapper.j-sb
        .box-12
            h1 administrador de contenido
            p texto 
        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Panoramas  
            p.font-size-xs.px-2 Crea, elimina y edita panoramas
            .box
                img(src="images/front-admin.jpg")
            .box.px-2.pt-2.pb-3
                butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 
                    span 
                        a.c-white(href="panoramas.html") Ver vista del admin

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Nuevo panorama  
            p.font-size-xs.px-2 Formulario para crear nuevos panoramas
            .box
                img(src="images/front-admin.jpg")
            .box.px-2.pt-2.pb-3
                butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 
                    span 
                        a.c-white(href="new-panorama.html") Ver vista del admin

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Actividades Panorama 
            p.font-size-xs.px-2 Formulario para crear nuevos panoramas
            .box
                img(src="images/front-admin.jpg")
            .box.px-2.pt-2.pb-3
                butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 
                    span 
                        a.c-white(href="create-form-panorama-activity.html") Ver vista del admin

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Nuevo panorama lugar 
            p.font-size-xs.px-2 Formulario para crear nuevos panoramas
            .box
                img(src="images/front-admin.jpg")
            .box.px-2.pt-2.pb-3
                butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 
                    span 
                        a.c-white(href="create-form-panorama-place.html") Ver vista del admin

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Editar fotografías  
            p.font-size-xs.px-2 Formulario para crear nuevos panoramas
            .box
                img(src="images/front-admin.jpg")
            .box.px-2.pt-2.pb-3
                butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 
                    span 
                        a.c-white(href="edit-panorama.html") Ver vista del admin

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Crear Habitaciones 
            p.font-size-xs.px-2 Formulario para crear nuevos panoramas
            .box
                img(src="images/front-admin.jpg")
            .box.px-2.pt-2.pb-3
                butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 
                    span 
                        a.c-white(href="create-roms.html") Ver vista del admin

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Crear Habitación  
            p.font-size-xs.px-2 Formulario para crear nuevos panoramas
            .box
                img(src="images/front-admin.jpg")
            .box.px-2.pt-2.pb-3
                butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 
                    span 
                        a.c-white(href="create-rom.html") Ver vista del admin
        
            

        
        
