extend componentes/theme-home.pug
block contenido
    .area.wrapper.j-sb
        .box-12.mt-3
            h1 Administrador de contenido
            p Capa Front-end de administrador de contenido para GoWikend. Aplicación híbrida que trabaja con web services, cuenta con diferentes paginas las cuales aplican diferentes funcionalidades para crear contenido de panoramas experiencias recreativas.  
        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Panoramas  
            p.font-size-xs.px-2 Crea, elimina y edita panoramas
            .box
                img(src="images/front-admin.jpg")
            .box.px-2.pt-2.pb-3
                a.c-white(href="panoramas.html") 
                    butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 Ver vista del admin  

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Nuevo panorama  
            p.font-size-xs.px-2 Formulario para crear nuevos panoramas
            .box
                img(src="images/front-admin-new-p.jpg")
            .box.px-2.pt-2.pb-3
                a.c-white(href="new-panorama.html") 
                    butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 Ver vista del admin 

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Actividades Panorama 
            p.font-size-xs.px-2 Formulario para crear actividades
            .box
                img(src="images/front-admin.jpg")
            .box.px-2.pt-2.pb-3
                a.c-white(href="create-form-panorama-activity.html") 
                    butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 Ver vista del admin  

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Nuevo panorama lugar  
            p.font-size-xs.px-2 Formulario para crear lugares
            .box
                img(src="images/front-admin-place.jpg")
            .box.px-2.pt-2.pb-3
                a.c-white(href="create-form-panorama-place.html") 
                    butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 Ver vista del admin

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Editar fotografías  
            p.font-size-xs.px-2 Editar portada de fotos
            .box
                img(src="images/edit-photo.jpg")
            .box.px-2.pt-2.pb-3
                a.c-white(href="edit-panorama.html") 
                    butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 Ver vista del admin

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Crear Habitaciones 
            p.font-size-xs.px-2 Editar habitaciones en grupo
            .box
                img(src="images/edit-roms.jpg")
            .box.px-2.pt-2.pb-3
                a.c-white(href="create-roms.html") 
                    butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 Ver vista del admin  

        .box.box-lg-3.sha.br.mx-2.my-2.background-color-white
            h2.font-size-s.mt-3.pl-2 Crear Habitación  
            p.font-size-xs.px-2 Editar datos de habitación
            .box
                img(src="images/create-rom.jpg")
            .box.px-2.pt-2.pb-3
                a.c-white(href="create-rom.html") 
                    butoon.btn.area.j-c.font-size-s.background-color-gored.px-2 Ver vista del admin  
        
            

        
        
