extend componentes/template.pug
block contenido
    include ./componentes/header-title.pug
    .area.wrapper.j-sb
        include ./componentes/new-panorama-component.pug
        include ./componentes/card-list.pug
        
