@mixin btnconfig
    width: auto
    height: 40px
    border: 0
    color: white
    font-weight: bold
    border-radius: $border-radius
    display: flex
    align-items: center
    cursor: pointer

@mixin btn-table
    height: 38px
    display: inline-block
    cursor: pointer
    border-radius: $border-radius
    color: map-get($colors, godark-75)
    outline: 0
    border: 0
    font-size: $s
    font-weight: bold
    padding: .5rem .6rem
    background: url("../images/arrow.svg") no-repeat 90% center
    
//crear panorama nuevo
@mixin i-panorama
    border: 1px solid  map-get($colors, gray)
    width: 100%
    font-size: $xs
    
    
@mixin btn-place-hrs
    height: 40px
    border: 1px solid #ccc
    display: inline-block
    cursor: pointer
    border-radius: 0
    outline: 0
    font-size: $xs
    padding: .5rem .6rem
    background: url("../images/arrow-place.svg") no-repeat 95% center
    
    




