extend componentes/template.pug
block contenido
    section.container-table.background-color-light
        table(align="center" border="0" cellpadding="0" cellspacing="0").table
            thead
                tr
                    th(colspan="4")
                        select.table-select
                            option(value="value1") Ordernar por
                            option(value="value2") Value 2
                            option(value="value3") Value 3

                    th(colspan="4") 
                        select.table-select
                            option(value="value1") Ordernar por
                            option(value="value2") Value 2
                            option(value="value3") Value 3
                    th(colspan="4").title-th 24 resultados de 2012 en 20 páginas
                    th(colspan="3")
                        div
                            i.row
                                img(src="images/left.svg")
                            i.row
                                img(src="images/right.svg")   
                    th(colspan="5") 
                        div.flex-c 
                            input(type="number" value="" placeholder="").number-box
                            button.button-number 
                                img(src="images/next-number.svg") 
            tbody
                tr
                    td(colspan="1" style="background-color:#F4FAF9").td-title
                        label.content-input
                            input(type="radio" name="chekpage" id="checkpage" value="pageok")
                            i   
                    td(colspan="8" style="background-color:#F4FAF9").td-title.pl-2 Nombre de la actividad
                    td(colspan="2" style="background-color:#F4FAF9").td-title.pl-2 Categoría
                    td(colspan="4" style="background-color:#F4FAF9").td-title.pl-2 Fecha publicación
                    td(colspan="6" style="background-color:#F4FAF9").td-title.pl-2 Acciones
                tr
                    td(colspan="1" style="width: 58px").td-h
                        label.content-input
                            input(type="radio" name="chekpage" id="checkpage" value="pageok")
                            i
                    td(colspan="8").td-h 
                        p.r-m Vive una experiencia única con tu familia en plena cordillera de los Andres
                    td(colspan="2").td-h
                        p.r-m Especial cordillera
                    td(colspan="4").td-h
                        p.r-m hace 2 semanas
                    td(colspan="6").td-h
                        div.flex-c
                            i(style="cursor: pointer").mx-1
                                img(src="images/edit.svg")
                            i(style="cursor: pointer").mx-1
                                img(src="images/trash.svg")
                tr
                    td(colspan="1").td-h
                        label.content-input
                            input(type="radio" name="chekpage" id="checkpage" value="pageok")
                            i
                    td(colspan="8").td-h 
                        p.r-m Vive una experiencia única con tu familia en plena cordillera de los Andres
                    td(colspan="2").td-h
                        p.r-m Especial cordillera
                    td(colspan="4").td-h
                        p.r-m hace 2 semanas
                    td(colspan="6").td-h
                        div.flex-c
                            i(style="cursor: pointer").mx-1
                                img(src="images/edit.svg")
                            i(style="cursor: pointer").mx-1
                                img(src="images/trash.svg")
                tr
                    td(colspan="1" style="width: 58px").td-h
                        label.content-input
                            input(type="radio" name="chekpage" id="checkpage" value="pageok")
                            i
                    td(colspan="8").td-h 
                        p.r-m Vive una experiencia única con tu familia en plena cordillera de los Andres
                    td(colspan="2").td-h
                        p.r-m Especial cordillera
                    td(colspan="4").td-h
                        p.r-m hace 2 semanas
                    td(colspan="6").td-h
                        div.flex-c
                            i(style="cursor: pointer").mx-1
                                img(src="images/edit.svg")
                            i(style="cursor: pointer").mx-1
                                img(src="images/trash.svg")
                tr
                    td(colspan="1" style="width: 58px").td-h
                        label.content-input
                            input(type="radio" name="chekpage" id="checkpage" value="pageok")
                            i
                    td(colspan="8").td-h 
                        p.r-m Vive una experiencia única con tu familia en plena cordillera de los Andres
                    td(colspan="2").td-h
                        p.r-m Especial cordillera
                    td(colspan="4").td-h
                        p.r-m hace 2 semanas
                    td(colspan="6").td-h
                        div.flex-c
                            i(style="cursor: pointer").mx-1
                                img(src="images/edit.svg")
                            i(style="cursor: pointer").mx-1
                                img(src="images/trash.svg")
                tr
                    td(colspan="1" style="width: 58px").td-h
                        label.content-input
                            input(type="radio" name="chekpage" id="checkpage" value="pageok")
                            i
                    td(colspan="8").td-h 
                        p.r-m Vive una experiencia única con tu familia en plena cordillera de los Andres
                    td(colspan="2").td-h
                        p.r-m Especial cordillera
                    td(colspan="4").td-h
                        p.r-m hace 2 semanas
                    td(colspan="6").td-h
                        div.flex-c
                            i(style="cursor: pointer").mx-1
                                img(src="images/edit.svg")
                            i(style="cursor: pointer").mx-1
                                img(src="images/trash.svg")
                tr
                    th(colspan="4")
                        select.table-select
                            option(value="value1") Ordernar por
                            option(value="value2") Value 2
                            option(value="value3") Value 3

                    th(colspan="4") 
                        select.table-select
                            option(value="value1") Ordernar por
                            option(value="value2") Value 2
                            option(value="value3") Value 3
                    th(colspan="4").title-th 24 resultados de 2012 en 20 páginas
                    th(colspan="3")
                        div
                            i.row
                                img(src="images/left.svg")
                            i.row
                                img(src="images/right.svg")   
                    th(colspan="5") 
                        div.flex-c 
                            input(type="number" value="10").number-box
                            button.button-number 
                                img(src="images/next-number.svg") 
                tr
                    td.td-h.view-h 1
                    td.td-h.view-h 2
                    td.td-h.view-h 3
                    td.td-h.view-h 4
                    td.td-h.view-h 5
                    td.td-h.view-h 6
                    td.td-h.view-h 7
                    td.td-h.view-h 8
                    td.td-h.view-h 9
                    td.td-h.view-h 10
                    td.td-h.view-h 11
                    td.td-h.view-h 12
                    td.td-h.view-h 13
                    td.td-h.view-h 14
                    td.td-h.view-h 15
                    td.td-h.view-h 16
                    td.td-h.view-h 17
                    td.td-h.view-h 18
                    td.td-h.view-h 19
                    td.td-h.view-h 20
                   
                    


