extend componentes/template-3.pug
block contenido
    section.background-color-light
        div.container-nuevop.wrapper.wrapper.area.j-sb
            .container-nuevop__crearexp.px-3.pt-4.pb-5.background-color-white
                h2.mt-3 Nombre de la habitación
                input.place-valueoutput.pl-2.mb-3(type="search" name="busquedad" value="Disfruta de una experiencia única" disabled)
                .contain-place.area
                    .contain-place__region.box-6
                        h2 N° de camas simples
                        select.select-place
                            option(value="value1") Seleccione número
                            option(value="value2") Value 2
                            option(value="value3") Value 3
                    .contain-place__comuna.box-6
                        h2 N° de camas dobles        
                        select.select-place
                            option(value="value1") Seleccione número
                            option(value="value2") Value 2
                            option(value="value3") Value 3
                h2.mt-3.mb-2 Equipamiento incluído
                .container-service.j-sb.mb-3
                    button.container-service__btn-s.btn-s--img.mb-1 
                        |  Servicio 1
                    button.container-service__btn-s.btn-s--img-a.mb-1 
                        |  Servicio 2
                    button.container-service__btn-s.btn-s--img-b.mb-1 
                        |  Servicio 3
                    button.container-service__btn-s.btn-s--img-c.mb-1 
                        |  Servicio 4
                    button.container-service__btn-s.btn-s--img-d.mb-1 
                        |  Servicio 5
                    button.container-service__btn-s.btn-s--img-e.mb-1 
                        |  Servicio 6
                    button.container-service__btn-s.btn-s--img-f.mb-1 
                        |  Servicio 7
                    button.container-service__btn-s.btn-s--img-g.mb-1 
                        |  Servicio 8
                    button.container-service__btn-s.btn-s--img-h.mb-1 
                        |  Servicio 9
                h2.mt-3  Detalles y precios
                .contain-detailsprice.area.mb-2
                    .contain-detailsprice__box1.pt-2 
                        span.font-size-xs Mt2 de la habitación
                    .contain-detailsprice__box2
                        input.mt2h.pl-2(type="search" name="urlamigable" )
                        .unidad.background-color-light.font-size-xs mt2
                .contain-detailsprice.area.mb-2
                    .contain-detailsprice__box1.pt-2 
                        span.font-size-xs Precio por día
                    .contain-detailsprice__box2
                        .price.background-color-light.font-size-xs $
                        input.price-cpl.pl-2(type="search" name="urlamigable" )
                        .unidad.background-color-light.font-size-xs mt2
                
                h2 Días disponibles
                article.days-disp.area
                    .days-disp__date.box-7
                        img(src="images/calendar.png")
                    .days-disp__dateoption.box-5
                        h2 N° días disponibles
                        span.mb-2 8 de un max 30
                        h2 Días reservados
                        span No se han encontrado reservas
                        .searchreset.area.mb-4
                            i 
                                img(src="images/sync.svg")
                            b.searchreset__dateoption Buscar de nuevo
                        .searchreset.area
                            i 
                                img(src="images/trash-red.svg")
                            b.searchreset__reset Resetear fechas

    
                
                article.next.area.j-sb
                    div
                        
                    div
                        butoon.btn-new-p.font-size-s.background-color-gored Siguiente paso
                        
                        

            aside.container-nuevop__listexp.px-3.pt-4.pb-5.background-color-white
                h2.mb-2 Lista de pasos a seguir
                div.container-aco
                    button(type="button").acordion
                        h2 Paso 1: Información publicitaria
                    .panel
                        p.font-size-xs Las fotografías atraen a tu cliente, intenta que todos tus panoramas tengas imagenes llamativas y bien descriptivas.
                div.container-aco
                    button(type="button").acordion
                        h2 Paso 2: Detalles
                    .panel
                        p.font-size-xs Las fotografías atraen a tu cliente, intenta que todos tus panoramas tengas imagenes llamativas y bien descriptivas.
                div.container-aco
                    button(type="button").acordion
                        h2 Paso 3: Lugar y ubicación
                    .panel
                        p.font-size-xs Las fotografías atraen a tu cliente, intenta que todos tus panoramas tengas imagenes llamativas y bien descriptivas.
                
                article.area.j-sb.mt-4
                    butoon.btn-new-e.font-size-s.background-color-light Eliminar
                    butoon.btn-new-p.font-size-s.background-color-godark Siguiente